JWT_SECRET=k3ep3r_jwt_secret_key_32_bytes!!
DATABASE_URI=postgres://db_user:password@host/db_name?sslmode=disable
RUN_ADDRESS=:8080
LOGGER_CONFIG=configs/logger.dev.json
DUMP_EXPTIME=480h
ANTHROPIC_API_KEY=my-anthropic-api-key